@import url(../index.css);
.dashboard {
  width: 90%;
  margin-left: 5%;
}
.dashboard h1 {
  margin: 30px;
}
.dashboard-top,
.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.task-list {
  margin-top: 50px;
  height: 70vh;
  gap: 15px;
  overflow-y: scroll;
}
.task-list::-webkit-scrollbar {
    display: none;
}
@media (max-width: 800px){
    .dashboard{
        width: 100%;
        margin: 0;
    }
} 